<app-sidenav></app-sidenav>

<section class="contact-card">
    <h2>Education</h2>
    <table>
        <tr>
            <td style="width: 30%; vertical-align: top;">
                <b>2021-2025</b>
            </td>
            <td style="width: 70%; vertical-align: top;">
                
                   <strong> Bachelors in Information And Technology |CVM University, Anand </strong>
                <br>
                <br>
                SGPA:7.27(7th Sem) &nbsp;&nbsp;&nbsp;SGPA:6.45(4h Sem)  <br>      
                SGPA:6.81(6th Sem) &nbsp;&nbsp;&nbsp;SGPA:7.28(3rd Sem)  <br>
                SGPA:6.96(5th Sem)<br>

            </td>
        </tr>
        <br>
        <tr>
            <td style="width: 30%; vertical-align: top;">
                <b>2019-2021</b>
            </td>
            <td style="width: 70%; vertical-align: top;">
                
                   <strong>Diploma in Computer Engineering |MS University, Vadodara </strong>
                <br>
                <br>
                CGPA: 5.32
            </td>
        </tr> 
        <br>
        <tr>
            <td style="width: 30%; vertical-align: top;">
                <b>2019</b>
            </td>
            <td style="width: 70%; vertical-align: top;">
                
                   <strong>SSC 10thStandard|JJ.International School, Anand</strong>
                <br>
                <br>
                PERCENTAGE: 66.4% 
            </td>
        </tr>
    </table>
    <div class="backbtn" (click)="onBack()">Back</div>

</section>
        