<app-sidenav></app-sidenav>

<section class="contact-card">
    <h2>Weather-App-clone (HTML)</h2>
    <p> <b>• Description :  </b> This Weather App is a responsive web 
        application that allows users to get real-time weather information for any 
        city in the world using the OpenWeatherMap API.</p>
    <p><b> Functionalities:</b></p> 
    <p> <b>></b>  City-Based Weather Search: Users can enter the name of a city to fetch current weather data. <br>
        <br>
        <b>></b>  Real-Time Weather Details: <br>
        <br>
        <b>></b>  Temperature (in Celsius) <br> 
        <br>
        <b>></b>  Humidity (%) <br>  
        <br>
        <b>></b>  Wind Speed (km/h) <br> 
        <br>
        <b>></b>  Weather condition (e.g., Clouds, Rain, Clear) <br> 
        <br>
        <b>></b>  Dynamic UI Update: Weather data updates dynamically on user search without reloading the page. <br>
        <br>
        <b>></b>  Error Handling: Displays an error message if the city is not found (e.g., due to a typo or invalid name). <br>
        <br>
        <b>></b>  Responsive Design: Built with a modern, responsive layout using HTML and CSS (with linear gradients and card styling).</p> 
        
        <a href="https://github.com/devkapadiya27/Weather-App.git">Weather-App.git</a>

<div class="backbtn" (click)="onBack()">Back</div>

</section>