<app-sidenav></app-sidenav>


<section class="contact-card">
    <h2>Experiance</h2>
    <table>
        <tr>
            <td style="width: 30%; vertical-align: top;">
                <b>JANUARY-APRIL (2025)</b>
            </td>
            <td style="width: 70%; vertical-align: top;">
                <b>
                    Frontend Developer Trainee , Ahmedabad, Gujarat 
                </b>
                <br>
                <b>ARInspect Software Pvt Ltd (A Unit of Tyler Technologies) </b>
                <br>
                <p>Build dynamic HTML templates using HandelBars.js and JavaScript for 
report generation. </p>

            </td>
        </tr>
        <tr>
            <td style="width: 30%; vertical-align: top;">
                <b>MAY-JUNE <br>(2024) </b>
            </td>
            <td style="width: 70%; vertical-align: top;">
                <b> Intern - Security Analyst- in SOC Department, Ahmedabad, Gujarat</b>
                <br>
                <b>TechdefenceLabs Solutions Pvt Ltd.</b>
                <br>
                <p>Build Virtual machine (Windows, Server, Kali Linux) 
                Perform attacks , Generate Logs and analyze in SPLUNK</p>

            </td>
        </tr>
        
    </table>
    <div class="backbtn" (click)="onBack()">Back</div>
</section>



