<app-sidenav></app-sidenav>

<section class="contact-card">
    <h2>Portfolio (Angular)</h2>
    
 <p> <b>• Description :  </b>The Portfolio is a dynamic and responsive Single Page Application (SPA)
     built using Angular. It serves as a personal portfolio to showcase your professional background,
      skills, projects, and contact information. The application is organized into multiple components, 
      each focusing on a specific section of the portfolio, with seamless navigation using Angular Routing.</p>

      <p><b>• Key Components:</b><br>
        <br>
        <b>></b> Dashboard: The landing section of the app, giving a quick overview of the portfolio. <br>
        <br>
        <b>></b> Profile: Displays personal details, bio, and other introductory information. <br> 
        <br>
        <b>></b> Education: Highlights academic qualifications and educational background. <br> 
        <br>
        <b>></b> Experience: Showcases professional work experience, roles, and responsibilities. <br>
        <br>
        <b>></b> Projects: A main component that contains sub-components, each representing individual projects. Each project includes: <br>
        
        &nbsp; &nbsp; &nbsp; <b>--</b>  A brief description <br>
        
        &nbsp; &nbsp; &nbsp; <b>--</b> A GitHub link for source code or live preview <br>
        <br>
        <b>></b> Contact: A contact form or section where users can get in touch. <br>
        <br>
        <b>></b> SideNav: A side navigation panel that enables smooth, user-friendly navigation across all sections of the app. </p>

        <p>Routing: Angular’s routing module is implemented to allow users to navigate between different sections without reloading the page. 
            The SideNav makes it easy to access each part of the portfolio instantly, enhancing the overall user experience.</p>
           
           
            <div class="backbtn" (click)="onBack()">Back</div>
</section>