<app-sidenav></app-sidenav>


<section class="contact-card">
    <h2>Budget Planner (Angular)</h2>
    <p> <b>• Description :  </b> The Budget Planner is a Single Page Application (SPA) built using Angular. It is designed 
        to help users manage their finances effectively by tracking income, expenses, tasks, and more.
         The application is composed of multiple reusable and modular components, each handling a specific functionality.</p>


<p> 
    <b>• Key Components:</b> <br>
    <br>
    <b>Dashboard:</b> Provides a summary view of the user's financial status, including total income, expenses, and balance. <br>
    <br>
    
    <b>Income:</b> Allows users to add, update, and view their income sources. <br>
    <br>
    
    <b>Expense:</b> Enables users to log and categorize expenses for better financial tracking. <br> 
    <br>
    
   <b> History:</b> Displays a transaction history, including past income and expenses, with filtering and sorting options. <br> 
    <br>
    
    <b>ToDo:</b> Lets users create and manage daily financial tasks or reminders. <br> 
    <br>
    
   <b> Login:</b> Handles user authentication for secure access to the application. <br> 
    <br>
    
    <b>Profile:</b> Allows users to manage their personal information and settings. <br>
    <br>
    
   <b> SideNav:</b> A side navigation menu that helps users navigate between different components easily.</p>

    <p><b>Routing:</b>
        Angular's routing module is used to navigate between components without reloading the page, providing a smooth and dynamic
         user experience.Each component is mapped to a specific route, and the SideNav makes switching betweenthese views intuitive 
         and seamless.</p>

         <a href="https://github.com/devkapadiya27/budget-planner.git">Budget-planner.git</a>
         <div class="backbtn" (click)="onBack()">Back</div>

                  </section>
