    <app-sidenav></app-sidenav>


<section class="contact-card">
    <h2>Spotify-clone (HTML)</h2>
    
 <p> <b>• Description :  </b> This is a Front-end music streaming application inspired by Spotify,developed using HTML, 
        CSS, and JavaScript. The app replicates key features of a music player and provides a smooth
         user experience with interactive elements and responsive design.</p>

         <p> <b>• Key Features:</b> <br>
            ✅ Play and pause songs with a single click <br>
            
            ⏩ Skip to the next or previous track using forward and backward buttons <br>
            
            🎶 Select and play any song from a custom list <br> 
            
            🔁 360° rotation animation on the album cover while the song is playing <br>
            
            📱 Responsive layout with a clean UI design <br>
            
            📄 Multi-page structure: <br>
            
            &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Home Page <br>
             
            &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Song List Page <br> 
            
            &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Song Player Page <br>
            
            🔙 Intuitive back button navigation between pages</p>

            <p> <b>•</b> This project demonstrates strong proficiency in DOM manipulation, animation with CSS
                 and JavaScript, and user-centric design principles.  It mimics real-world media player
                  interactions and showcases my ability to build engaging web experiences from scratch.</p>
                  <a href="https://github.com/devkapadiya27/Spotify-Clone.git">Spotify-Clone.git</a>

                  <div class="backbtn" (click)="onBack()">Back</div>

                  </section>

                